.semes_form {
}

.semes_select {
}

div.semes_cell {
    float: left;
}
.semes_cell label {
    display: block;
}
.select2-container {
    min-width: 10em;
}
.semes_json {
    margin-top: 2em;
}
.semes_form_div {
    height: 10em;
}
